h1 {
    color: blue;  
}


span {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

/* div {
    width:100px;
    height: 100px;
    border: 1px solid black;
} */
 a {
    display: block;
 }
 img {

    width: 300px;
    
 }